.center {
	text-align: center;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #181a1b;
	font-family: "Rockwell", -apple-system, Arial, sans-serif;
}

#nav {
	padding-top: 1vh;
}

#nav #current-month,
#nav #current-base {
	color: white;
}

#showcase img {
	width: 60vw;
	padding-bottom: 1vh;
}

#showcase #clancastle,
#showcase #spelltower,
#showcase #xbow {
	height: 7vw;
	width: auto;
}

#nav a {
	position: fixed;
	text-decoration: none;
}

#nav #prev {
	left: 10px;
}

#nav #next {
	right: 10px;
}

#title,
#baseNum,
#baseLink {
	color: #ff006e;
}

#baseInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 26vw;
}

.info-section img {
	height: 10vw;
	width: auto;
}

.info-text {
	margin-top: 1vh;
	font-size: 1rem;
	color: white;
}

#showcase #github {
	height: 6vh;
	width: auto;
	position: fixed;
	left: 0;
	top: 0;
	padding-bottom: 0;
}

#baseLink {
	text-decoration: none;
}

#ratioWarning {
	display: none;
	position: fixed;
	color: red;
	font-weight: bold;
	font-size: 100%;
	text-shadow: black 2px 2px;
	top: 0;
	left: 50%; /* shift left edge to midpoint */
	transform: translateX(-50%);
}

/* Show when height is 600px or less */
@media screen and (max-height: 630px) {
	#ratioWarning {
		display: block;
	}
}

/* Hide when height is 601px or more */
@media screen and (min-height: 631px) {
	#ratioWarning {
		display: none;
	}
}

@media (max-width: 532px) {
	#showcase #github {
		height: 6vh;
		width: auto;
		position: fixed;
		left: 0;
		top: 6vh;
		padding-bottom: 0;
	}
}
